.button-as-link{
    background: none;
    border: none;
}

li .button-as-link{
    margin-left: 1em;
}

.actions{
    display: block;
    width: 100%;
    border: none;
    padding: 10px 0px;
    font-size: 16px;
    cursor: pointer;
    text-align: left;
}

.actions:hover{
    text-decoration: underline;
}

.playControler{
    margin-left: 1em;
}

.playControler button{
    margin-right: 5px;
    border: none;
}

.playControler button:hover{
    background-color: black;
    color: white;
    transition-duration: 300ms;
}

.scale-div{
    margin-left: 5px;
}

.scale-div *{
    margin-right: 5px;
}